@charset "UTF-8";
/*cabeçalho e rodape da pagina
trecho compartilhado entre todas */
body{
    align-items: center;
}

#boxPrincipal{
    width: 1024px;
    margin: 0px auto;
}
/* cabeçalho*/
header{
    background-color: #C4C4C4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    margin: 5px;
}

#logo img{
    width: 130px;
}

header nav a{
    justify-content: space-around;
    text-decoration: none;
    background-color: white;
    color: #9C9C9C;
    padding: 5px;
    border-radius: 10px;
    font-family: "arial black";
    font-size: 12px;
    margin-left: 0px;
}

footer{
    height: 50px;
    background-color: #C4C4C4;
    display: flex;
    align-items: center;
}

a{
    color: black;
    margin: 30px;
}
/*pagina de login*/
#mainLogin{
    display: flex;
}

section{
    width: 512px;
    height: 500px;
    background-color: white;
    font-family: sans-serif;
}

#info{
    background-color: #F7D0AB;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#info h2{
    font-size: 25px;
    height: 20px;
}

#info p{
    font-size: 25px;
    height: 20px;
}

.button{
    padding: 12px 12px;
    border-radius: 25px;
    background-color: rgb(212, 52, 52);
    color: white;
    border: none;
}

.button:hover{
    background-color: rgb(255, 64, 64);
}

#info a{
    text-decoration: none;
}



#login{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mover{
    height: 22px;
    width: 1px;
}

#login form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#login .input{
    margin: 10px 10px;
    background-color: #C4C4C4;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
}

#login .button{
    padding: 12px 52px;
}

#login a{
    font-size: 12px;
    margin: 0px;
    margin-top: 10px;
    padding: 0px
}

/* Pagina de consulta*/

#mainConsulta{
    display: flex;
}

#pesquisa .input{
    border-radius: 12px;
    border: none;
    height: 40px;
    margin: 10px;
    margin-right: 0px;
    margin-left: 20px;
}

#pesquisa #barrap{
    background-color: #EE7070;
    margin-right: 0px;
    margin-left: 20px;
    width: 550px;
    color: black;
}

#barrapSemFiltro{
    background-color: #EE7070;
    
    width: 650px;
    color: black;
}

#pesquisa #p{
    background-color: #F99D1C;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0px;
    color: white;
}

#pesquisa #p:hover{
    background-color: #51d3f1;
}

/* listagem de processos */
#mostra .processo{
    height: 40px;
    width: 650px;
    background-color: #9c9c9c;
    color: white;
    margin: 40px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.processoSemFiltro nav a{
    text-decoration: none;
    background-color: white;
    color: #9C9C9C;
    padding: 5px;
    border-radius: 10px;
    font-family: "arial black";
    font-size: 12px;
    margin: 0px;
}

var(img)

.processo a{
    width: 25px;
    height: 25px;
}

.processo img{
    width: 33px;
    height: 26px;
    border-radius: 8px;
    background-color: #114D95;
}


.processo img:hover{
    background-color: #1659ac;
}

.processoSemFiltro{
    height: 40px;
    width: 980px;
    background-color: #9c9c9c;
    color: white;
    margin: 40px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.processoSemFiltro img{
    width: 33px;
    height: 26px;
    border-radius: 8px;
    background-color: #9DDEEC;
    
}

.processoSemFiltro a{
    margin: 0px;
}

.processoSemFiltro img:hover{
    background-color: #51d3f1;
}

/* botoes de navegacao*/
#navegacao nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

#navegacao nav a{
    margin: 16px;
}

.navButton{
    background-color: #898989;
    color: black;
    border: none;
    text-decoration: none;
    border-radius: 7px;
    padding: 3px;
    padding-bottom: 0px;
    padding-right: 5px;
    padding-top: 1px;
}

/* menu de filtros*/
#filtro{
    background-color: #114D95;
    width: 333px;
    height: auto;
    color: white;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#filtro .header h1{
    margin-left: 121px;
}

#filtro .header #X{
    border: none;
    border-radius: 4px;
    height: 18px;
    margin-left: 90px;
    margin-bottom: 55px;
}

#filtro .header #X:hover{
    background-color: #f25252;
}

#filtros{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 19px;

}

#filtros .input{
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
    border: none;
    margin-left: 0px;
    width: 300px;
    height: 20px;
}

#filtros #periodo input{
    width: 130px;
}

#periodo{
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
}

.fbutton{
    border: none;
    border-radius: 14px;
    background-color: #F99D1C;
    width: 100px;
    margin-left: 115px;
    height: 35px;
    margin-right: 53px;
    margin-bottom: 10px;
    color: white;
}

.fbutton:hover{
    background-color: rgb(255, 134, 53);
}

